<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="logo" src="logo.png">
            </a>
        </div>
        <div id="searchbar" class="col-sm-7 col-md-7">
            <form ng-submit="mySearch()">
                <input type="text" class="form-control"  placeholder="Search..."/>
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#" class="hidden">Username</a></li>
                <li><a href="#" class="hidden">Logout</a></li>-->
                <li ng-hide="currentUser"
                    ng-class="{'active': $location.url() == '/register'}">
                    <a href="#/register" data-toggle="collapse" data-target=".navbar-collapse.in">Register</a></li>
                <li ng-hide="currentUser"
                    ng-class="{'active': $location.url() == '/login'}">
                    <a href="#/login" data-toggle="collapse" data-target=".navbar-collapse.in">Login</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active': $location.url() == '/profile'}">
                    <a href="#/profile" data-toggle="collapse"
                       data-target=".navbar-collapse.in">{{currentUser.username}}</a></li>
                <li ng-show="currentUser" ng-click="logout()">
                    <a href="#/home" data-toggle="collapse" data-target=".navbar-collapse.in">Logout</a></li>
            </ul>

        </div>
    </div>
</nav>