<div class="col-sm-7 col-sm-offset-2 col-md-6 col-md-offset-2 main">
    <h2 class="page-header">Critic Application</h2>


    <div class="form-horizontal">
        <div class="form-group">
            <label for="dropdownMenu1" class="col-sm-4 control-label">Select a Movie</label>

            <div class="dropdown col-sm-offset-4">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select a Movie
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Mad Max: Fury Road</a></li>
                    <li><a href="#">Fast and Furious</a></li>
                    <li><a href="#">MI: Rogue Nation</a></li>
                    <li><a href="#">Final Destination</a></li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="review" class="col-sm-4 control-label">Write a Review</label>
            <textarea class="form-control textarea" rows="10" id="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu
diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo
hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet
orci ullamcorper at ultricies metus viverra.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu
diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo
hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet
orci ullamcorper at ultricies metus viverra.
            </textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4">
                <button ng-click="" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </div>
</div>
