<div id="myCarousel" class="carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <iframe width="100%" height="100%" ng-src="{{movie.video_path}}" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <!--Use w300 and profile NO max-width: 75%; for the same effect-->
            <img class="img img-responsive profile" ng-src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2 class="page-header">{{movie.title}}</h2>
            <div class="col-xs-6 col-sm-4">
                <h6>&nbsp</h6>
                <h2 ng-repeat="genre in movie.genres | limitTo:2">
                    <span class="label label-default label-as-badge">
                        {{genre.name}}
                    </span>
                </h2>
                <h2>&nbsp</h2>
                <h2 ng-if="movie.genres.length<2">&nbsp</h2>
                <h4>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp{{movie.runtime}} mins</h4>
            </div>
            <div class="col-xs-6 col-sm-8">
                <h6>&nbsp</h6>
                <h4>IMDB Rating</h4>
                <uib-rating ng-model="movie.criticsRating" max=5 read-only="true" titles="['one','two','three','four','five']"
                            aria-labelledby="default-rating" ng-class="'rating-star'">
                </uib-rating>
                <h4>User's Rating</h4>
                <uib-rating ng-model="movie.usersRating" max=5 read-only="isReadonly" on-hover="hoveringOver(value)"
                            on-leave="overStar = null" titles="['one','two','three','four','five']" ng-click="addRating()"
                            aria-labelledby="default-rating" ng-class="'rating-star changing-star'">
                </uib-rating>
                <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                      ng-show="overStar && !isReadonly">{{percent}}%</span>
                <!--<div class="star-rating star-rating-big"><s><s><s><s><s></s></s></s></s></s></div>-->
                <h5>&nbsp</h5>
                <h4>Release Date:</h4>
                <h4 ng-bind="movie.release_date | date: 'mediumDate'"></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Plot</h3>
            <p>{{movie.overview}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Cast</h3>
            <h2></h2>
            <ul class="list-inline">
                <li class="w92" ng-repeat="actor in movie.credits.cast" ng-if="actor.profile_path">
                    <a href="#/cast/{{actor.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w92{{actor.profile_path}}"></a>
                    <a class="title" href="#/cast/{{actor.id}}">{{actor.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Reviews</h3>
            <div ng-if="movie.reviews.results.length">
                <h4>Critics</h4>
                <div ng-repeat="review in movie.reviews.results">
                    {{review.author}}
                    <p >{{review.content}}</p>
                </div>
            </div>
            <h4>Users</h4>
            <div>
                User1
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
            <div>
                User2
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
        </div>
    </div>
<!--
    <div>
        <h4>Default</h4>
        <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

        <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>

        <button type="button" class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
        <hr />
    </div>
-->
</div>
