<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="CastCrudController">
    <h1 class="page-header">Cast CRUD operations</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Role
                </th>
                <th>
                    ImageUrl
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td><input ng-model="cast.id" class="form-control"/></td>
                <td><input ng-model="cast.name" class="form-control"/></td>
                <td><input ng-model="cast.role" class="form-control"/></td>
                <td><input ng-model="cast.imageUrl" class="form-control"/></td>
                <td class="nowrap"><button ng-click="addCast(cast)" class="btn btn-success"> Add</button>
                    <button ng-click="updateCast(cast)" class="btn btn-info">Update</button></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cast in casts">
                <td class="text-right">{{cast.id}}</td>
                <td class="text-left">{{cast.name}}</td>
                <td class="text-left">{{cast.role}}</td>
                <td class="text-left">{{cast.imageUrl}}</td>
                <td class="nowrap"><button ng-click="removeCast(cast)" class="btn btn-danger">Delete</button>
                    <button ng-click="selectCast(cast)" class="btn btn-info">Select</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
