<div class="col-xs-12 col-sm-12 col-md-12">
    <!--<div class="container-fluid">Put this if u want padding for image-->
    <div class="row myplaceholders">
        <div class="col-xs-12 col-sm-4 myplaceholder">
            <img class="img img-responsive profile" src="https://image.tmdb.org/t/p/w396/w8zJQuN7tzlm6FY9mfGKihxp3Cb.jpg">
            <!--  <img class="img img-responsive" src="https://image.tmdb.org/t/p/w396/z3sLuRKP7hQVrvSTsqdLjGSldwG.jpg">-->

        </div>
        <div class="col-xs-12 col-sm-6 myplaceholder">
            <h1 class="page-header">Brad Pitt</h1>
            <h2>Actor</h2>
            <h2></h2>
            <h3>Birthday: 1963-12-18</h3>
            <h3></h3>
            <h3>Place of Birth: Shawnee, Oklahoma, United States</h3>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 col-sm-offset-4">

    <h2 class="page-header">Biography</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
        mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
        eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
        amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu
        diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo
        hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet
        orci ullamcorper at ultricies metus viverra.</p>

</div>

<div class="col-xs-12 col-sm-6 col-sm-offset-4">
    <h2 class="page-header">Best Known for</h2>
    <h2></h2>
    <ul class="list-inline">
        <li>
            <div class="img-with-text">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w92/6Sj9wDu3YugthXsU0Vry5XFAZGg.jpg" alt="sometext" />
                </a>
                <a href="#">Twelve Monkeys</a>
            </div>
        </li>

        <li>
            <div class="img-with-text">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w92/on9JlbGEccLsYkjeEph2Whm1DIp.jpg" alt="sometext" />
                </a>
                <a href="#">Snatch</a>
            </div>
        </li>

        <li>
            <div class="img-with-text">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w92/o0h76DVXvk5OKjmNez5YY0GODC2.jpg" alt="sometext" />
                </a>
                <a href="#">Ocean's Eleven</a>
            </div>
        </li>

        <li>
            <div class="img-with-text">
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w92/4irBEiDC7SpYBuw5z1c7oLfF0EI.jpg" alt="sometext" />
                </a>
                <a href="#">Ocean's Twelve</a>
            </div>
        </li>

    </ul>
</div>
