<div id="myCarousel" class="carousel" data-ride="carousel" ng-controller="MovieController">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <iframe width="100%" height="100%" ng-src="{{movie.video_path}}" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<div class="container-fluid" ng-controller="MovieController">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <!--Use w300 and profile NO max-width: 75%; for the same effect-->
            <img class="img img-responsive profile" ng-src="https://image.tmdb.org/t/p/w396/{{movie.poster_path}}">
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2 class="page-header">{{movie.title}}</h2>
            <div class="col-xs-6 col-sm-4">
                <h6>&nbsp</h6>
                <h2>
                    <span class="label label-default label-as-badge">Drama</span>
                </h2>
                <h2>&nbsp</h2>
                <h4>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp{{movie.runtime}} mins</h4>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h6>&nbsp</h6>
                <h6>&nbsp</h6>
                <div class="star-rating star-rating-big"><s><s><s><s><s></s></s></s></s></s></div>
                <h2>&nbsp</h2>
                <h4>Release Date:</h4>
                <h4>{{movie.release_date}}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Plot</h3>
            <p>{{movie.overview}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Cast</h3>
            <h2></h2>
            <ul class="list-inline">
                <li class="w92" ng-repeat="actor in movie.credits.cast">
                    <a href="#/cast/{{actor.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w92{{actor.profile_path}}"></a>
                    <a class="title" href="#/cast/{{actor.id}}">{{actor.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Reviews</h3>
            <h4>Critics</h4>
            <div ng-repeat="review in movie.reviews.results">
                {{review.author}}
                <p >{{review.content}}</p>
            </div>

            <h4>Users</h4>
            <div>
                User1
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
            <div>
                User2
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
        </div>
    </div>
</div>
