<div id="myCarousel" class="carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <iframe width="100%" height="100%" src="//www.youtube.com/embed/ZztKgP2rRiY" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <!--Use w300 and profile NO max-width: 75%; for the same effect-->
            <img class="img img-responsive profile" src="https://image.tmdb.org/t/p/w396/24qz9HuZY8K3Cdo4hRWkmztT7gH.jpg">
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2 class="page-header">Kung Fu Panda 3</h2>
            <div class="col-xs-6 col-sm-4">
                <h6>&nbsp</h6>
                <h2>
                    <span class="label label-default label-as-badge">Comedy</span>
                </h2>
                <h2>&nbsp</h2>
                <h4>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp125 mins</h4>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h6>&nbsp</h6>
                <h6>&nbsp</h6>
                <div class="star-rating star-rating-big"><s><s><s><s><s></s></s></s></s></s></div>
                <h2>&nbsp</h2>
                <h4>Release Date:</h4>
                <h4>2016-02-10</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Plot</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                amet elit iaculis pretium sit amet quis magna.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Cast</h3>
            <h2></h2>
            <ul class="list-inline">
                <li class="w92">
                    <a href="#">
                        <img src="https://image.tmdb.org/t/p/w92/vMXgtzMdt2jSAjOECFQ5F53blbr.jpg"></a>
                    <a class="title" href="#">Jack Black</a>
                </li>
                <li class="w92">
                    <a href="#">
                        <img src="https://image.tmdb.org/t/p/w92/mi9WLn4puPjfBeKohYuKKwOXOuG.jpg"></a>
                    <a class="title" href="#">Bryan Cranston</a>
                </li>
                <li class="w92">
                    <a href="#">
                        <img src="https://image.tmdb.org/t/p/w92/ffKPo8ATHVXME6cgA5BDyvy2df1.jpg"></a>
                    <a class="title" href="#">Dustin Hoffman</a>
                </li>
                <li class="w92">
                    <a href="#">
                        <img src="https://image.tmdb.org/t/p/w92/69LcCbHUpeh6WsESY8wcEiiZFjk.jpg"></a>
                    <a class="title" href="#">Angelina Jolie</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4">
            <h3 class="page-header">Reviews</h3>
            <h4>Critics</h4>
            <div>
                Critic1
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
            <div>
                Critic2
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
            <h4>Users</h4>
            <div>
                User1
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
            <div>
                User2
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
                    mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed
                    eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit
                    amet elit iaculis pretium sit amet quis magna.
                </p>
            </div>
        </div>
    </div>
</div>
