<div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
    <h1 class="page-header">Now Playing</h1>
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 col-md-4 placeholder" ng-repeat="movie in nowPlaying">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe ng-src="{{movie.video_url}}"></iframe>
                    <a ng-if="!movie.video_url" href="#/movie/{{movie.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}" alt="No Poster Available !!!">
                    </a>
                </div>
                <div class="caption">
                    <a href="#/movie/{{movie.id}}"><h4 class="smallheader">{{movie.title| limitTo:35}}</h4></a>
                    <div class="star-rating"><s><s><s><s><s></s></s></s></s></s></div>
                    <h4 class="smallheader">
                        <span class="label label-default label-as-badge">Action</span>
                        <span class="label label-default label-as-badge">Drama</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
    <h1 class="page-header">Upcoming</h1>
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 col-md-4 placeholder" ng-repeat="movie in upcoming">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe ng-src="{{movie.video_url}}"></iframe>
                    <a ng-if="!movie.video_url" href="#/movie/{{movie.id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}" alt="No Poster Available !!!">
                    </a>
                </div>
                <div class="caption">
                    <a href="#/movie/{{movie.id}}"><h4 class="smallheader">{{movie.title| limitTo:35}}</h4></a>
                    <h5>Release Date: {{movie.release_date}}</h5>
                    <h4 class="smallheader">
                        <span class="label label-default label-as-badge">Action</span>
                        <span class="label label-default label-as-badge">Drama</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
