<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="MovieCrudController">
    <h1 class="page-header">Movie CRUD operations</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Image-Url
                </th>
                <th>
                    TMDB-ID
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Video-Url
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td><input ng-model="movie.id" class="form-control"/></td>
                <td><input ng-model="movie.title" class="form-control"/></td>
                <td><input ng-model="movie.imageUrl" class="form-control"/></td>
                <td><input ng-model="movie.tmdbId" class="form-control"/></td>
                <td><input ng-model="movie.rating" class="form-control"/></td>
                <td><input ng-model="movie.videoUrl" class="form-control"/></td>
                <td class="nowrap"><button ng-click="addMovie(movie)" class="btn btn-success"> Add</button>
                    <button ng-click="updateMovie(movie)" class="btn btn-info">Update</button></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="movie in movies">
                <td class="text-right">{{movie.id}}</td>
                <td class="text-left">{{movie.title}}</td>
                <td class="text-left">{{movie.imageUrl}}</td>
                <td class="text-right">{{movie.tmdbId}}</td>
                <td class="text-right">{{movie.rating}}</td>
                <td class="text-left">{{movie.videoUrl}}</td>
                <td class="nowrap"><button ng-click="removeMovie(movie)" class="btn btn-danger">Delete</button>
                    <button ng-click="selectMovie(movie)" class="btn btn-info">Select</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
